/*root { 
    display: block;
}*/

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #3a4f54;
    background-color: #dfecf1;
}

a {
    color: #e33b06;
}

table{
    empty-cells: show;
    border: #b2d5d6 solid 3px;
    border-collapse:separate;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}


form.jsfcrud_list_form th, td th {
    color: #4e6a71;
    border: #b2d5d6 solid 1px;
    text-align: center;
    /*padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;*/
    background-color: #b2d5d6;
    
}

/*td {
    vertical-align: top;
    padding-bottom: 8px;
    font-size: small;
}*/

form.jsfcrud_list_form td, td td {
    border: #b2d5d6 solid 1px;
    /*vertical-align: baseline;*/
    text-align: center;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
